$grey900: #121224;
$grey850: #1E1E2F;
$grey800: #2A2A3A;
$grey700: #414150;
$grey600: #595966;
$grey500: #71717C;
$grey400: #898992;
$grey300: #A0A0A7;
$grey200: #B8B8BD;
$grey100: #D0D0D3;
$grey60: #DEDEE0;
$grey40: #ECECED;
$grey20: #F6F6F6;
$grey10: #FAFAFB;
$red500: #F54747;
$red50: #fee9e9;
$blue500: #666BD3;
$blue300: #A3A6E5;